<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Decisions</title>
</head>
<body>
    <h1>Recent Decisions</h1>
    <ul>
        {% for decision in decisions %}
            <li>
                <strong>{{ decision.subject }}</strong><br>
                Submission Timestamp: {{ decision.submissionTimestamp }}<br>
                <a href="{{ url_for('decisions.download_pdf', ada=decision.ada) }}">Download PDF</a>
            </li>
            <br>
        {% endfor %}
    </ul>
</body>
</html>